# Exclude Git files and directories
.git
.gitignore

# Exclude build and target directories
build/
target/

# Exclude IDE-specific files and directories
.gradle/
.idea/
.vscode/

# Exclude log files
*.log
logs/

# Exclude temporary files and directories
*.tmp
*.temp
*.swp
*~
